<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>
    <title></title>
  </head>
  <body>
<h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/dbIn" method="POST">
    <div class="ui input">
         <span>Input Your name: <input type="text" name = "user_name" required> </span> <br> 
         <span>Input Your age :  <input type="text" name = "user_age" required> </span> <br>
      <span>Input your school : <input type="text" name = "user_school" required> </span> <br>
      <span>Input your friend : <input type="text" name = "user_friend" required> </span>
       </div>
       <button class = "ui secondary button" type="submit">submit</button>
    </form>
  </body>
</html>
